{{ define "main" }}
  <div class="container-tight mx-auto">
    <h1 class="text-5xl font-medium mb-4">{{ .Title }}</h1>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time class="text-neutral-400 font-medium" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </div>

  {{ $cover := .Params.cover }}
  {{ with .Resources.GetMatch $cover.src }}
    <div class="flex justify-center mt-12 mb-24">
      <div class="relative inline-block">
        <img class="absolute left-0 h-full block mx-auto max-h-128 rounded-2xl blur-xl" src="{{ .RelPermalink }}">
        <img class="relative z-10 block mx-auto max-h-128 rounded-2xl" src="{{ .RelPermalink }}" alt="{{ $cover.alt }}">
      </div>
    </div>
  {{ end }}


  <div class="container-tight mx-auto">
    {{ partial "post-tags.html" . }}
  </div>
  <div class="prose prose-invert my-12 mx-auto">
    {{ .Content }}
  </div>
  <div class="container-tight mx-auto flex gap-6 py-12 border-t border-neutral-700">
    <img class="w-16 h-16 rounded-full object-cover" src="/images/headshot.webp" alt="">
    <div>
      <p class="font-medium text-xl">Olivier Goulet</p>
      <p class="text-neutral-400">Front-end developer at Eclipse Foundation.</p>
    </div>
  </div>
{{ end }}
