<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="flex flex-col min-h-screen text-neutral-50 bg-neutral-800 text-lg px-4">
  <div class="fixed bottom-0 right-0 w-[500px] h-[500px] bg-neutral-900 pointer-events-none -z-10 opacity-50 [clip-path:polygon(100%_0,100%_100%,0_100%)]" style="-webkit-mask-image: radial-gradient(circle 3px, transparent 3px, black 3px); mask-image: radial-gradient(circle 3px, transparent 3px, black 3px); -webkit-mask-size: 12px 12px; mask-size: 12px 12px;"></div>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main class="container mx-auto flex-grow">
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
