{{ define "main" }}
  <section class="border border-neutral-600 rounded-lg p-4">
    <div class="p-4 bg-neutral-900 p-8 rounded-lg relative overflow-hidden">
      <h1 class="text-5xl font-bold mb-4">Hi, I'm <span class="text-yellow-200">Olivier</a></h1>
      <p class="text-xl text-neutral-300">
        I'm a front-end developer based in Montreal, Canada. I work at <a class="text-orange-300" href="https://www.eclipse.org">Eclipse Foundation</a>.
      </p>
      <img class="animate-spin-slow duration-1000 absolute grayscale brightness-200 opacity-75 blur-sm bottom-0 right-0" src="/images/diatom.png" alt="" />
    </div>
  </section>
  <section class="py-24">
    <h2 class="text-4xl font-medium mb-8">Latest posts</h2>
    <ul class="p-4 border-neutral-600 border rounded-lg grid grid-cols-3 gap-4">
      <!-- If less than 3 posts, add placeholders. -->
      {{ $count := len (where .Site.RegularPages "Section" "posts") }}
      {{ if lt $count 3 }}
        {{ range seq (sub 3 $count) }}
          <li>
            <div class="h-full p-4 rounded-lg bg-neutral-900 opacity-50">
              <div class="bg-neutral-700 h-64 rounded-lg mb-4"></div>
              <h3 class="text-2xl font-medium mb-2">Coming soon...</h3>
              <p class="text-sm text-neutral-500">Stay tuned for more content!</p>
            </div>
          </li>
        {{ end }}
      {{ end }}
      {{ range first 3 (where .Site.RegularPages "Section" "posts") }}
      <li>
        <a class="block h-full p-4 rounded-lg bg-neutral-900 transition-transform hover:-translate-y-3" href="/blog/test"> 
          {{ with .Params.cover }}
            <img class="rounded-lg mb-4 -p-4 w-full h-64 object-cover" src="{{ .src }}" alt="{{ .alt }}">
          {{ end }}
          <h3 class="text-2xl font-medium">{{ .Title }}</h3>
          <p class="text-sm text-neutral-500">{{ .Date.Format "2 January 2006" }}</p>
          <p class="text-neutral-400">
          {{ .Summary | plainify | truncate 150 }}
          </p>
        </a>
      </li>
      {{ end }}
    </ul>
    <a class="block mt-4 text-right" href="/blog">See all posts →</a>
  </section>
{{ end }}
